*{
    padding: 0;
    margin: 0;
}

header{
    width: 100vw;
    background-color: rgb(16, 32, 14);
    color: white;
    text-align: center;
    height: 20vh;
    margin-bottom: 5vh;
}

h2{
    font-size: 3em;
}
h3{
    margin: 2%;
}
p{
    margin-left: 2%;
}
section{
    display: flex;
    justify-content: center;
    height: 65vh;
}

.espacoimagem{
    background-color: rgb(255, 255, 255);
    width: 30vw;
    height: 20vw;
}
.imagem{
    width: 100%;
}
.code{
    position: absolute;
    margin-left: 20%;
    margin-top: -100px;
}
.detalhes{
    background-color: rgb(255, 255, 255);
    width: 30vw;
    height: 20vw;
}

form{
    background-color: rgb(221, 221, 221);
    margin: 100px 2%;
}

footer{
    align-items: center;
    text-align: center;
    background-color: rgb(16, 32, 14);
    color: white;
    height: 10vh;
}

#rodape{
    font-size: 1.4em;
}