@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
}

header{
    width: 100vw;
    background-color: rgb(16, 32, 14);
    color: white;
    text-align: center;
    height: 20vh;
    margin-bottom: 5vh;
    font-family: 'Dancing Script', cursive;
}

.home{
    position: absolute;
    margin: 1% 1%;
    color: white;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
}
.home:hover{
    opacity: 1.7;
}

h2{
    font-size: 3em;
}
h3{
    margin: 2%;
}
p{
    margin-left: 2%;
}
section{
    display: flex;
    justify-content: center;
    height: 65vh;
}

#espacoimagem{
    width: 32vw;
    height: 20vw;
    background-repeat: no-repeat;
    background-size: contain;
}

.code{
    position: absolute;
    margin-left: 15%;
    margin-top: -150px;
    width: 15vw;
}
.detalhes{
    background-color: rgb(255, 255, 255);
    width: 30vw;
    height: 20vw;
}

form{
    background-color: rgb(221, 221, 221);
    margin: 100px 2%;
}

footer{
    align-items: center;
    text-align: center;
    background-color: rgb(16, 32, 14);
    color: white;
    height: 10vh;
    font-family: 'Dancing Script', cursive;
}

#rodape{
    font-size: 1.4em;
}